body {
  overflow: hidden;
  background-color: #222;
  font-family: 'Abhaya Libre', serif;

}

.text-box {
    /*background-color: rgba(255,255,255,.8);*/
    border-radius: 0;
    position: absolute;
    z-index: 100;
    width: 500px;
    height: 300px;
    top: 4vh;
    left: 10vw;
}

.icon-box {
    border-radius: 0;
    width: 15vw;
}

#linkedin {
    border-radius: 0;
    position: absolute;
    z-index: 100;
    max-width: 150px;
    max-height: 150px;
    min-width: 100px;
    min-height: 100px;
    bottom: 450px;
    right: 10vw;
    color: white;
    background-image: url('li.svg');
    background-size: cover;
}
#linkedin:hover {
    background-image: url('li-active.svg');
}
#resume {
    border-radius: 0;
    position: absolute;
    z-index: 100;
    max-width: 150px;
    max-height: 150px;
    min-width: 100px;
    min-height: 100px;
    bottom: 250px;
    right: 10vw;
    color: white;
    background-image: url('resume.svg');
    background-size: cover;
}
#resume:hover {
    background-image: url('resume-active.svg');
}
#email {
    border-radius: 0;
    position: absolute;
    z-index: 100;
    max-width: 150px;
    max-height: 150px;
    min-width: 100px;
    min-height: 100px;
    bottom: 50px;
    right: 10vw;
    color: white;
    background-image: url('email.svg');
    background-size: cover;
}
#email:hover {
    background-image: url('email-active.svg');
}
#linkedin {
    background-image: url('li.png');
    height: 15vw;
    width: 15vw;
    opacity: 0.7;
}
#linkedin:hover {
    background-image: url('li-active.png');
    height: 15vw;
    width: 15vw;
    opacity: 1;
}
#resume {
    background-image: url('resume.png');
    height: 15vw;
    width: 15vw;
    opacity: 0.7;
}
#resume:hover {
    background-image: url('resume-active.png');
    height: 15vw;
    width: 15vw;
    opacity: 1;
}
#email {
    background-image: url('email.png');
    height: 15vw;
    width: 15vw;
    opacity: 0.7;
}
#email:hover {
    background-image: url('email-active.png');
    height: 15vw;
    width: 15vw;
    opacity: 1;
}

h1 {
    font-size: 10vw;
    max-font-size: 20px;
    font-weight: 800;
    color: rgba(255,255,255,.7);
}

p {
    font-size: 2em;
    font-weight: 400;
    color: rgba(0,0,0,.5);
    padding-top: 20px;
}

.kilo-container {
  position: absolute;
  width: 140vmax;
  height: 140vmax;
  top: 50%;
  left: 50%;
  -webkit-animation: spin 60s linear infinite;
          animation: spin 60s linear infinite;
}

section {
  position: absolute;
  left: 50%;
  bottom: 50%;
  width: 37.51285vmax;
  height: 70vmax;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  /*background-image: url("http://blucube.net/stuff/codepen-assets/kaleidoscope/glass.jpg");*/
  /*background-image: url("https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/14725740_10207366397309473_5977931307844211171_n.jpg?oh=adb321cd30043e1d520bd03621b0a1f9&oe=5896A686");*/
  background-image: url("em.JPG");
  /*background-image: url("http://emilymacon.com/static/img/painting/Madison.jpg");*/
    background-size: auto 150%;
  -webkit-animation: move-background 12s infinite alternate ease-in-out;
          animation: move-background 12s infinite alternate ease-in-out;
}



.sect-1 {
  -webkit-transform: translateX(-50%) rotateY(180deg) rotateZ(30deg);
          transform: translateX(-50%) rotateY(180deg) rotateZ(30deg);
}

.sect-2 {
  -webkit-transform: translateX(-50%) rotateZ(60deg);
          transform: translateX(-50%) rotateZ(60deg);
}

.sect-3 {
  -webkit-transform: translateX(-50%) rotateY(180deg) rotateZ(90deg);
          transform: translateX(-50%) rotateY(180deg) rotateZ(90deg);
}

.sect-4 {
  -webkit-transform: translateX(-50%) rotateZ(120deg);
          transform: translateX(-50%) rotateZ(120deg);
}

.sect-5 {
  -webkit-transform: translateX(-50%) rotateY(180deg) rotateZ(150deg);
          transform: translateX(-50%) rotateY(180deg) rotateZ(150deg);
}

.sect-6 {
  -webkit-transform: translateX(-50%) rotateZ(180deg);
          transform: translateX(-50%) rotateZ(180deg);
}

.sect-7 {
  -webkit-transform: translateX(-50%) rotateY(180deg) rotateZ(210deg);
          transform: translateX(-50%) rotateY(180deg) rotateZ(210deg);
}

.sect-8 {
  -webkit-transform: translateX(-50%) rotateZ(240deg);
          transform: translateX(-50%) rotateZ(240deg);
}

.sect-9 {
  -webkit-transform: translateX(-50%) rotateY(180deg) rotateZ(270deg);
          transform: translateX(-50%) rotateY(180deg) rotateZ(270deg);
}

.sect-10 {
  -webkit-transform: translateX(-50%) rotateZ(300deg);
          transform: translateX(-50%) rotateZ(300deg);
}

.sect-11 {
  -webkit-transform: translateX(-50%) rotateY(180deg) rotateZ(330deg);
          transform: translateX(-50%) rotateY(180deg) rotateZ(330deg);
}

.sect-12 {
  -webkit-transform: translateX(-50%) rotateZ(360deg);
          transform: translateX(-50%) rotateZ(360deg);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
            transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
            transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
            transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
            transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
  }
}
@-webkit-keyframes move-background {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
@keyframes move-background {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}


.center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

